/*contenedor total de perfil y tutorial*/
.containerAll-perfil-tutorial {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 20px 20px 0px;
    width: 100%;


}

/*contenedor de perfil*/
.container-infoUser {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 90vh;
    max-height: 300vh;
    margin: 5px 0;
    background-color: rgba(5, 201, 213, 1);
    padding: 0;
}

.container-infoUser h1 {

    width: 100%;
    text-align: center;

}

.infoUser {
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: 150vh;

}

.label {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 5px;


}

.label h3 {
    width: 20%;
    font-size: 1em;
    margin: 5px;
}

.label p {
    width: 70%;
    font-size: 1em;
    padding: 5px;
    border-bottom: #070707 solid 2px;
}

.icon-perfil {
    width: 15%;
    margin-top: 5px;
    font-size: 1.8em;
    cursor: pointer;
}

.infoUser-input {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    max-height: 150vh;
}

.infoUser-input input {
    display: flex;
    flex-direction: column;
    width: 35vw;
    padding: 5px;
    margin: 15px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    background-color: rgba(5, 201, 213, 1);
    border-bottom: 1px solid #070707;

}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5px;
}

.btns button {
    width: 10vw;
    border-radius: 6px;
    margin: 3px;
    font-size: 0.8em;
    font-family: 'Inria-Serif';
    font-weight: bold;
}

.btn-update {
    background-color: rgba(5, 201, 213, 1);
    border: solid rgba(240, 239, 239, 1) 1px;
    box-shadow: 0px 5px 5px grey;

}

.btn-update:hover {
    background-color: rgba(163, 228, 228, 1);
}

button {
    cursor: pointer;

}


@media(max-width:768px) {
    .containerAll-perfil-tutorial {
        display: flex;

    }

    .container-infoUser {

        width: 90%;
        height: auto;
        max-height: 90vh;
        margin: 5px 0;
        background-color: rgba(5, 201, 213, 1);
        padding: 0;
    }

    .infoUser-input input {
        width: 85vw;




    }

    .btns {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 5px;
    }

    .btns button {
        width: 20vw;
        height: 35px;

    }
}

@media(max-width:390px) {
    .containerAll-perfil-tutorial {
        height: 200vh;

    }

    .container-infoUser {
        height: 150vh;

    }

    .infoUser-input input {
        width: 75vw;

    }

    .infoUser-input {
        flex-direction: column;
    }

    .btns {
        display: flex;
        flex-direction: row;
        margin: 5px;
    }

    .btns button {
        width: 25vw;
        height: 35px;

    }
    .label p {
        width: 50%;
       
    }
}