footer {
    width: 100%;
    height: 400px;
    background-color: #05C9D5;
    bottom: 0;
    display: flex;

    justify-content: space-around;
}

.container-footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 70%;
    margin: 50px;
}

.logo img {
    width: 10vw;
    border-radius: 10px;

}

.primeros-enlaces a,
.segundos-enlaces a,
.terceros-enlaces a {
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
    text-transform: uppercase;
    width: 10vw;
}

.primeros-enlaces,
.segundos-enlaces,
.terceros-enlaces {
    display: flex;
    flex-direction: column;
    margin: 60px;
    line-height: 3;

}

.icono-redes {
    padding: 20px;
    font-size: 2rem;

}

.redes {
    width: 20vw;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px 0px 0px;
}

.redes p {
    font-size: 0.8rem;
    text-transform: bold;
}

.copy-p p {
    display: flex;

    margin: 0%;
}
@media (max-width:768px) {

    footer {
        height: 50vh;
        
    }
    .primeros-enlaces,.segundos-enlaces,.terceros-enlaces{
        flex-direction: row;
        width: 10vw;
        margin: 30px;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        
    }
    .primeros-enlaces a, .segundos-enlaces a, .terceros-enlaces a{
        width: 50vw;
        line-height: 2;
       
   }
    .logo img{
        width: 20vw;
    }
    .redes{
        width: 100%;
        margin: 0;
    }
   
}

@media(max-width:390px){
    .primeros-enlaces,.segundos-enlaces,.terceros-enlaces{
        width: 15vw;
        margin: 30px;
        flex-direction: column;
    
    }
    .logo img{
        width: 30vw;
    }
    footer{
        height: 60vh;
    }
    .primeros-enlaces a, .segundos-enlaces a, .terceros-enlaces a{
         width: 50vw;
         line-height: 2;
         font-size: 0.6em
        
    }
    .container-footer{
      margin: 55px;
    }

}