.container-sección-macrame{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
}
.encabezado-macrame{
    display: flex;
}
.encabezado-macrame img{
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

.container-cards-macrame{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}