.titulo {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 80vw;
    height: 10vh;
    border-radius: 20px;
    margin-top: 100vh;
    position: absolute;
    z-index: 1;
    text-align: center;
    /* Añadido para centrar el texto horizontalmente */

    /* Añadido para alinear el contenido al centro verticalmente */
    align-items: center;
    justify-content: center;

}

.titulo p {
    font-size: 3vw;
    color: white;
    font-family: 'Inria Serif', serif;
}

@media (max-width:768px) {
    .titulo {
        height: 6vh;
        margin-top: 59vh;
    }

    .titulo p {
        font-size: 2rem;
    }
}

@media (max-width:390px) {
    .titulo {
        height: 5vh;
        margin-top: 59vh;
    }

    .titulo p {
        font-size: 1.2rem;
    }
}